<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.polimi.mobilecourse.expenses"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET">

</uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">

    </uses-permission>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".HomeTutor"
            android:theme="@style/AppTheme">
               
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
            
        
        <activity android:name=".NewOperation" android:label="Nuova operazione"
                android:theme="@style/NewOperationBarTheme"/>
        <activity android:name=".LandingActivity" android:theme="@style/Theme.AppCompat.NoActionBar">
            
            
        </activity>
        <activity android:name=".ProvaUni"/>
        <activity android:name=".HelpActivity"/>
        <activity android:name=".LoginStudente"/>
        <activity android:name=".LoginTutor"/>
        <activity android:name=".RegistrationStudent"/>


    </application>
</manifest>
